<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yunus.ototakip">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permisson.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/oto_takip"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyIntro"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AracEkle" />
        <activity
            android:name=".InternetCon"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".IpuclariSayfasi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".TrafficActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EngineActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AidActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>