<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yunus.ototakip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <activity android:name=".AraclarimFragment" />
        <activity android:name=".YaklasanlarFragment" />
        <activity android:name=".Yakinimdakiler" />
        <activity android:name=".IpuclariFragment" />
        -->
        <activity
            android:name=".MyIntro"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AracEkle" />
        <activity
            android:name=".InternetCon"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".IpuclariSayfasi" />
        <activity android:name=".TrafficActivity" />
        <activity android:name=".EngineActivity" />
        <activity android:name=".AidActivity"></activity>
    </application>

</manifest>